<h1>Results: <%= facade.number_results %></h1>

<% facade.food_data.each do |food_item| %>
  <ul class="foods">

    <li class="ndb_number">
      NDB number: <%= food_item.ndb_number %>
    </li>

    <li class="name">
      Name: <%= food_item.name %>
    </li>

    <li class="food_group">
      Food group: <%= food_item.food_group %>
    </li>

    <li class="data_source">
      Data source: <%= food_item.data_source %>
    </li>

    <li class="manufacturer">
      Manufacturer: <%= food_item.manufacturer %>
    </li>
    
  </ul>
<% end %>
